<form action="{{ url_for('login_routing') }}" method="POST">
    <input type="text" name="userid" minlength="4" maxlength="32" placeholder="userid" required autofocus>
    <input type="password" name="userpw" minlength="8" placeholder="userpw" required>
    <input type="submit" value="login">
</form>

<a href="{{ url_for('signup_routing') }}">Signup</a>