<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gitlab to Slack</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <style type="text/css">
        table { table-layout: fixed; }
        td, tr { white-space: normal; word-wrap: break-word; }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="container">
    <h3>Registered rules</h3>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th class="col-md-3">uid</th>
                <th class="col-md-1">converter</th>
                <th class="col-md-2">slack:username</th>
                <th class="col-md-3">slack:webhook</th>
                <th class="col-md-3">url</th>
            </tr>
        </thead>
        <tbody>
            {% for webhook in webhooks %}
            <tr>
                <td>{{ webhook.uid }}</td>
                <td>{{ webhook.converter_name }}</td>
                <td>{{ webhook.slack_username }}</td>
                <td>{{ webhook.slack_webhook }}</td>
                <td>{{ url_for('webhook_routing', userid=webhook.user.userid, webhook_uid=webhook.uid, _external=True)  }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Add new rule</h3>
    <form action="{{ url_for('main_webhook_add_routing') }}" method="POST">
        <select name="converter_name">
            {% for converter_name in converter_names %}
            <option value="{{ converter_name }}">{{ converter_name|title }}</option>
            {% endfor %}
        </select>
        <input type="text" name="slack_username" placeholder="slack_username" required>
        <input type="url" name="slack_webhook" placeholder="slack_webhook" required>
        <input type="submit" value="add">
    </form>

    <h3>Delete a rule</h3>
    <form action="{{ url_for('main_webhook_delete_routing') }}" method="POST">
        <input type="text" name="uid" placeholder="uid">
        <input type="submit" value="delete">
    </form>

    <div class="text-right">
        <a href="{{ url_for('logout_routing') }}">logout</a>
    </div>
</body>
</html>