<form action="{{ url_for('signup_routing') }}" method="POST">
    <input type="text" name="userid" minlength="4" maxlength="32" placeholder="userid" required autofocus>
    <input type="password" name="userpw" minlength="8" placeholder="userpw" required>
    <input type="password" name="join_key" placeholder="join_key" required>
    <input type="submit" value="signup">
</form>